
<form class="form-banner" id="form-agendamento">
    <h4>Informe seus dados que entraremos em contato para uma cotação:</h4>
    <div class="validate">
        <label for="Nome">Nome</label>
        <input required type="text" name="nomeCompleto" placeholder="Nome Completo">
        <span class="msg">O nome deve ser informado.</span>
    </div>

    <div class="validate">
        <label for="phone">Telefone</label>
        <input required id="phone" name="telefone" type="tel" placeholder="(00) 0 0000-0000">
        <span class="msg">Informe o seu telefone.</span>
    </div>

    <div class="validate">
        <label for="email">E-mail</label>
        <input required type="email" name="email" placeholder="email@exemplo.com">
        <span class="msg">Preencha o email.</span>
    </div>

    <div class="validate">
        <label for="cpf">CPF</label>
        <input required id="cpf" type="text" name="cpf" placeholder="000.000.000-00">
        <span class="msg">Informe o seu CPF.</span>
    </div>

    <p>Escolha a data e horário mais convenientes para você.</p>

    <div class="validate">
        <label class="date" for="data">Data 
            <span><svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path opacity="0.5" d="M1.0425 9C0.714375 9 0.48 9.28125 0.48 9.5625V21.75C0.48 23.0156 1.46437 24 2.73 24H19.23C20.4487 24 21.48 23.0156 21.48 21.75V9.5625C21.48 9.28125 21.1987 9 20.9175 9H1.0425ZM21.48 6.9375V5.25C21.48 4.03125 20.4487 3 19.23 3H16.98V0.5625C16.98 0.28125 16.6987 0 16.4175 0H14.5425C14.2144 0 13.98 0.28125 13.98 0.5625V3H7.98V0.5625C7.98 0.28125 7.69875 0 7.4175 0H5.5425C5.21437 0 4.98 0.28125 4.98 0.5625V3H2.73C1.46437 3 0.48 4.03125 0.48 5.25V6.9375C0.48 7.26562 0.714375 7.5 1.0425 7.5H20.9175C21.1987 7.5 21.48 7.26562 21.48 6.9375Z" fill="#23242A"/> </svg></span>
        </label>
        <input required id="datapicker" type="text" name="data" placeholder="DD/MM/AAAA">
        <span class="msg">Informe a data.</span>
    </div>


    <div class="validate">
        <label for="horario">Horário</label>
        <div class="custom-select">
            <select id="hour" class="select-button" required name="horas">
                <option selected value="">Selecione um horário</option>
                <option value="09:00:00">9h às 10h</option>
                <option value="10:00:00">10h às 11h</option>
                <option value="11:00:00">11h às 12h</option>
                <option value="12:00:00">12h às 13h</option>
                <option value="13:00:00">13h às 14h</option>
                <option value="14:00:00">14h às 15h</option>
                <option value="15:00:00">15h às 16h</option>
                <option value="16:00:00">16h às 17h</option>
                <option value="17:00:00">17h às 18h</option>
                <option value="18:00:00">18h às 19h</option>
                <option value="19:00:00">19h às 20h</option>
                <option value="20:00:00">20h às 21h</option>
            </select>
        </div>
        <span class="msg">Informe um horário.</span>
    </div>
    
    <div class="validate">
        <label class="check">
            <input required class="aceite" type="checkbox" name="aceite">
            <span class="checkmark"></span>
            <span>Li e aceito a <a class="link-simples" target="_blank" href="http://www.bbseguridaderi.com.br/pt/governanca-corporativa/politica-de-privacidade">Política de uso de dados.</a></span>
        </label>
        <span class="msg">Você deve ler e aceitar a Política de uso de dados..</span>
    </div>

    <button type="submit" class="btn-amarelo">Solicitar cotação</button>
</form>