<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/fonts.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <link href="./img/favicon.png" rel="icon" type="image/png">

		<title>BB - Seguros</title>
	</head>
	<body>
		<header class="header">
            <div class="logo">
                <a href="/"><img src="./img/logo@2x.png" alt="BB Seguros"></a>
            </div>

            <nav class="navbar">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="31" height="4" rx="2" fill="white"/>
                            <rect y="12" width="31" height="4" rx="2" fill="white"/>
                            <rect y="24" width="31" height="4" rx="2" fill="white"/>
                        </svg>

                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#seguro-auto">O Seguro Auto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fale-conosco">Fale Conosco</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#simule">Simule seu Seguro Auto</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="contato">
                <a href="tel:0800-272-7050">
                    <span>Central de Vendas</span><br>
                    0800-272-7050
                </a>
                <a href="https://www2.bancobrasil.com.br/aapf/login.jsp?url=seguro/veiculo/menu/index.jsp?c=1" target="_blank" class="btn-contrate">
                    Contrate agora
                </a>
            </div>

		</header>